<!doctype html>
<html>
  <head>
    <title>Snapshot</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>


    <section class="shots">

      <!-- ko if: me().img -->
      <div class="snapshot self" data-bind="with: me, click: shotHandler.send">
        <img data-bind="attr: { src: img }">
        <p class="name" data-bind="text: name"></p>
      </div>
      <!-- /ko -->

      <!-- ko foreach: shots -->
      <div class="snapshot">
        <img data-bind="attr: { src: img }">
        <p class="name" data-bind="text: name"></p>
      </div>
      <!-- /ko -->

    </section>



    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Snapshot</a>
        </div>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Set your name" data-bind="value: me().name">
          </div>
          <a href="#" class="btn btn-default">Set Name</a>
        </form>
        <p class="navbar-right navbar-text text-muted"><strong>Snapshot.</strong> Keyboard shortcuts: n = change name. space = take new snapshot.</p>
      </div>
    </nav>


    <script src="/js/libs/require.js"></script>
    <script>
    require(['/js/requireConfig.js'], function () {
      require(['main']);
    });
    </script>

  </body>
</html>