

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 12px Helvetica, Arial; }

#snapper { display: none; }

img, video {
  max-width: 100%;
  height: auto;
}
img {
  -webkit-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

#shots {
  overflow: hidden;
  padding: 1em;
}

.snapshot {
  position: relative;
  width: 300px;
  float: left;
  margin: 2px;
}
.snapshot.self {
  cursor: pointer;
}
.snapshot.self a {
  color: #fff;
}
.snapshot video {
  display: none;
}
.snapshot-video-active video {
  display: block;
}
.name, .time {
  margin: 0;
  position: absolute;
  bottom: 1em;
  z-index: 1;
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.name {
  left: 1em;
}
.time {
  right: 1em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  padding: 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
}
.footer p {
  margin: 0;
}
